* {
    box-sizing: border-box;
}

.show-on {
    display: none;
}

.off .show-on.off {
    display: block;
}

.on .show-on.on {
    display: block;
}

#left-wrapper, #right-wrapper {
    position:absolute;
    top: 0;
    height: 100vh;
    width: 15vw;
    padding: 1vw;
}

#video-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

#cam-toggle-wrapper {
    position: absolute;
    width: 100vw;
    bottom: 0;
    padding: 1vw;
}

#cam-toggle {
    background-color: lightgray;
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
    box-shadow: 0 0 5px black;
    opacity: 0.5;
    margin: 0 auto;
    line-height: 15vw;
    text-align: center;
    font-size: 1.5em;
}

#video-canvas {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    max-width: 100vw;
    max-height: 100vh;
}

#left-wrapper {
    left: 0;
}

#right-wrapper {
    right: 0;
}

#left,#right {
    background-color: lightgray;
    border-radius: 7.5vw;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px black;
    opacity: 0.5;
}
